@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Анализатор социальных данных</h1>
    <p class="lead">Анализатор социальных данных позволяет анализировать социальные данные, а так же вносить свои социальные данные, которые учитываются в анализе.</p>
    <p><a href="http://localhost:60746/QuestionnaireMain/Create" class="btn btn-primary btn-lg">Заполнить анкету &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" style="width: 90%">
        <h2>Получить статистическую информацию</h2>
        <p>
            В данном разделе Вы можете выбрать, какая статистическая информация Вас интересует больше. Вам на выбор будет предложен ряд категорий, каждая из которых представлена таблицей, которая показывает процентное соотношение людей участвовших в анкетировании и выбравших данный пункт.
        </p>
        <p><a class="btn btn-default" href="http://localhost:60746/QuestionnaireMain/Index">Просмотреть статистику &raquo;</a></p>
    </div>
</div>